* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

h1 {
  color: palevioletred;
}

h2 {
  color: white;
}

p {
  color: white;
}

.row {
  padding: 1rem;
  border: 2px solid purple;
  background-color: pink;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h3 {
  color: olivedrab;
}

.imgContent {
  width: 100%;
  object-fit: cover;
}